body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #c3ecef;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a07ef;
    color: #fff;
    text-align: center;
    padding: 16px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

/* Feedback form styling */
.feedback-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    width: calc(60% - 10px);
    vertical-align: left;
    margin-right: 20px;
}

.feedback-form h2 {
    margin-top: 0;
}

.feedback-form label,
.feedback-form textarea,
.feedback-form select,
.feedback-form button {
    display: block;
    margin-bottom: 16px;
    width: 100%;
}

/* Feedback controls styling */
.feedback-controls {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: inline-block;
    width: calc(30% - 10px);
    vertical-align: top;
}

.feedback-controls h2 {
    margin-top: 0;
}

.filter,
.sort {
    margin-bottom: 16px;
}

.filter label,
.sort label {
    display: block;
    margin-bottom: 8px;
}

.feedback-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-list h2 {
    margin-top: 0;
}

.feedback-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .comment {
        font-size: 14px;
        margin-left: 10px;
    }

    .comment-input {
        width: 100%;
        max-width: 100%;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    .comment-btn {
        background-color: #0079d3;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .comment-btn:hover {
        background-color: #005a9e;
    }
}

.feedback-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Category styling */
.category {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
}

.feature {
    background-color: #61bd4f;
}

.bug {
    background-color: #f2d600;
}

.enhancement {
    background-color: #ff9f1a;
}

.feedback-text {
    margin: 10px 0;
}

/* Upvote button styling */
.upvote-btn {
    background-color: #0079d3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.upvote-btn:hover {
    background-color: #005a9e;
}

.upvotes {
    font-size: 12px;
    color: #777;
}
